<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>キャラクター作成</title>
</head>
<body>
<h1>キャラ作成</h1>
 <form action="./command" th:object="${jobForm}">
  <label class="label">職業：</label>
        <div th:each="item : ${jobMapItems}">
            <input type="radio" name="jobs"
                th:value="${item.key}" th:text="${item.value}" th:field="*{selectedJob}" checked/>
        </div><br>
  <label class="label">名前：</label>
  <input type="text" name="text1" th:value="${text1_value}" th:field="*{inputName}"/><br><br>
  <input type="submit" style="width:80px" value="次へ"><br>
  <br><input type="submit" style="width:160px" name="more" value="もう一人キャラを作る">
  </form>
 <p th:text="${msg1}"><p>
</body>
</html>